
.tsButton{
    background-color: #973F3F;
    border: none;
}

.tsButton:hover{
    background-color: #424242;
    border: none;
}

.tsButton:active{
    background-color: #424242;
    border: none;
}


.footer{
    background-color: #292b2c;
    color: #000;
    clear: both;
    font-size: 0.8em;
    margin-top: 1.5em;
    padding: 1em;
    min-height: 1em;

}

.ns_logo{
    margin-top: 30px;
}


.grails-logo-container {
    background:#973F3F no-repeat 50% 30%;
    margin-bottom: 20px;
    color: white;
    height:300px;
    text-align:center;
    margin-top: 0px;
}

.navbar {
    background-color: #292b2c; !important;
    height: 80px;
    margin-bottom: 0px;
}

.h1 {
    font-family: "Caflisch Script";
}

.tsshow{
   margin-left: 80px;
}


.content header_question{
    margin: 0.1em 1em 0.3em;
}


